#group-details {
  --sidebar-width: 25em;
  --members-height: 48%;
  --transition-time: .3s;
}

#tab-bar {
  display: none;
}

#group-habits {
  position: absolute;
  left: 0;
  width: calc(100% - var(--sidebar-width));
  height: 100%;
  overflow: scroll;
}

#group-name {
  color: white;
}

.group-button {
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  transition: all .2s
}

.group-button:hover {
  background-color: rgba(255, 255, 255, 0.1)
}

/* .group-button-text {
  transition: all .5s ease-in-out
}

.group-button:hover .group-button-text {
  transform: rotate(45deg)
} */

#group-sidebar {
  --group-sidebar-height: 95%;
  --group-sidebar-padding: 1em;
  position: absolute;
  right: var(--group-sidebar-padding);
  width: calc(var(--sidebar-width) - var(--group-sidebar-padding));
  height: calc(100% - calc(var(--group-sidebar-padding) * 2));
  /* top: calc(calc(100% - var(--group-sidebar-height)) / 2); */
  top: var(--group-sidebar-padding);
}

.group-sidebars {
  transition: all var(--transition-time);
  border-radius: 10px;
}

#group-members {
  position: absolute;
  top: 0;
  height: var(--members-height);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  overflow-y: scroll
}

#group-members::-webkit-scrollbar {
  display: none;
}

.group-member-list-button {
  width: 100%;
  margin-bottom: 1em;
  border: none;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.3);
  transition: all var(--transition-time) ease-in-out
}

.group-member-list-button:hover {
  box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.4);
  transform: translate3d(-5px, -5px, 0px);
}

#group-member-list-button-accept {
  background-color: rgb(153, 255, 0);
}

#group-member-list-button-decline {
  background-color: rgb(251, 92, 92)
}

#group-chat {
  --group-chat-height: 3em;
  /* Top and height is dependent on the height of #group-members */
  position: absolute;
  /* top: calc(var(--members-height) + 5%); */
  bottom: 0;
  /* height: calc(100% - var(--members-height) - calc(calc(100% - calc(var(--members-height) * 2)) / 2)); */
  height: calc(100% - var(--members-height) - 2%);
  width: 100%;
  overflow-y: auto;
  /* Styling */
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1em;
}

#group-chat-bar {
  --group-chat-height-default: 3em;
  --group-chat-transition-time: .2s;
  width: 100%;
  height: var(--group-chat-height);
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  /* transition: all var(--group-chat-transition-time) */
}

#group-chat-input {
  border: 0;
  width: calc(100% - var(--group-chat-height-default));
  padding-left: 5px;
  padding-right: 5px;
  resize: none;
}

#group-chat-input:focus {
  outline: none
}

#group-chat-send {
  height: var(--group-chat-height);
  width: var(--group-chat-height-default);
  cursor: pointer;
}

#group-chat-send:hover {
  background-color: black;
  color: white;
}

#group-chat-message-box {
  height: calc(100% - var(--group-chat-height));
  width: 100%;
  position: absolute;
  left: 0;
  bottom: var(--group-chat-height);
  /* overflow-y: scroll; */
}

#group-chat-messages {
  position: absolute;
  left: 0;
  bottom: 0;
  height: fit-content;
  width: 100%;
  padding-bottom: 1em;
}

@media only screen and (min-width: 768px) {
  .group-button {
    width: 3.5em;
    height: 3.5em;
  }
}

/* MEDIUM SCREENS AND BELOW */

@media only screen and (max-width: 768px) {
  #group-details {
    overflow: hidden;
  }
  #tab-bar {
    display: inline-block;
    height: var(--nav-height);
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.3);
    z-index: 8
  }
  #tab-bar-row {
    height: 100%;
  }
  .tab-bar-column {
    color: white;
    padding: 0;
    font-size: 250%;
  }
  .tab-bar-column.selected {
    border-bottom: 3px solid white;
  }
  .tab-section {
    display: none !important;
  }
  .tab-section.selected {
    display: inline-block !important;
  }
  #group-habits {
    position: absolute;
    top: var(--nav-height);
    height: calc(100% - var(--nav-height));
    left: 0;
    width: 100%;
    z-index: 7;
  }
  #group-habits::-webkit-scrollbar {
    display: none;
  }
  #group-habits {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  #group-buttons {
    width: 100%;
  }
  .group-button {
    width: 45%;
    margin: 0 !important;
  }
  .group-button:hover {
    background-color: rgba(255, 255, 255, 0.1)
  }
  #group-sidebar {
    position: absolute;
    top: var(--nav-height);
    height: calc(100% - var(--nav-height));
    left: 0;
    right: 0;
    padding: 0;
    width: 100%;
  }
  .group-sidebars {
    border-radius: 0;
    height: 100% !important;
  }
}