.habit {
  /* Variables */
  --transition-time: .3s;
  --padding: 1em;
}

.habit {
  height: fit-content;
  width: 100%;
  border-radius: 10px;
  color: black;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
  cursor: pointer;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
  transition: all var(--transition-time) ease-in-out;
  padding: var(--padding);
  background-color: white;
  position: relative;
}

.habit:hover {
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.4);
  transform: translate3d(-5px, -5px, 0px);
}

.habit-header {
  font-weight: 300;
  font-size: 35px;
}

.habit-checkbox.completed {
  cursor: no-drop;
}

.habit-checkbox.completed+.habit-name {
  text-decoration: line-through;
}

.habit-group-name {}