.habit {
  /* Variables */
  --transition-time: .3s;
  --padding: 1em;
}

.habit {
  height: 12em;
  width: 100%;
  border-radius: 10px;
  color: black;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
  cursor: pointer;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
  transition: all var(--transition-time) ease-in-out;
  padding: var(--padding);
  background-color: white;
}

.habit-name {
  font-weight: 300;
  font-size: 35px;
}