.search-profile {
  width: 100%;
  margin-bottom: 1em;
}

.search-profile-image {
  width: 3em;
  height: 3em;
}

.search-profile-text {
  margin-left: 1em;
}

.hoverable {
  cursor: pointer;
}

.search-result {
  width: 100%;
  margin-bottom: 1em;
  background-color: white;
  padding: 1em;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.3);
  transition: all var(--transition-time) ease-in-out
}

.search-result:hover {
  box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.4);
  transform: translate3d(-5px, -5px, 0px);
}

.search-result-image {
  width: 3em;
  height: 3em;
  border-radius: 100%;
}

.search-result-text {
  margin-left: 1em;
}

.search-result-role {
  color: gray;
}

/* SMALL SCREENS AND BELOW */

@media only screen and (max-width: 576px) {
  .search-result {
    width: 100%;
    margin-bottom: 0.5em;
    background-color: white;
    padding: 1em;
    border-radius: 10px;
    cursor: pointer;
    font-size: 75%;
    box-shadow: 4px 4px 3px 2px rgba(0, 0, 0, 0.3);
    transition: all var(--transition-time) ease-in-out
  }
  .search-result-image {
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
  }
}